*.glb filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Tavern[[:space:]]noch[[:space:]]eine.glb filter=lfs diff=lfs merge=lfs -text
